<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mathkids.sligamer.mathkids">
    <!-- Permissions needed to store sql light -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:theme="@style/Theme.AppCompat.Light"
            android:allowBackup="true"
            android:hardwareAccelerated="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@drawable/balloons"
            android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Additional Activity Screens -->
        <activity android:name=".GamePlayActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <activity android:name=".SelectLevelActivity">
        </activity>
        
    </application>

</manifest>